.leftBar {
  width: 17.5%;
  border-right: 1px solid #2c2d33;
}

.logoipsum {
  width: 100%;
  text-align: center;
  vertical-align: middle;
  line-height:60px;
}

.menuItem {
  display: flex;
  align-items: center;
  padding: 12px;
  gap: 0.5rem;
  margin-left: 2.25rem;

  height: 2.25rem;
  border-radius: 10px;
}

.icon {
  color: #87888c;
  /* height: 14.666666030883789px;
  width: 14.666666030883789px; */

  /* margin-bottom: 5px; */
}

.iconText {
  height: 1rem;
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #87888c;
  flex: none;
  order: 1;
  flex-grow: 0;
}
