.wrapper {
  width: 82.5%;
  display: flex;
  flex-direction: column;
}

.main {
  display: flex;
  margin: 0 15px;
  border: 0.5px solid #2c2d33;
  border-radius: 0px 0px 10px 10px;
}

/*! mainleft */
.mainLeft {
  width: 45%;
}

.doubleDrop {
  display: flex;
  justify-content: space-between;
  margin: 0 15px;
}

.inputArea {
  margin: 0 15px;
}

.sonucBul {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.mainRight {
  width: 55%;
  border-left: 0.5px solid #2c2d33;
  background-color: #2b2b36;
}

.mainRight h5 {
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
  padding: 12px 16px;
}

/*! main right */
.mainRight p {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;

  color: #a0a0a0;
  padding: 0px 16px 8px;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.18);

}

.lists {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 16px;
  gap: 10px;
}

.lists:hover {
  background-color: #21222d;
}

.active{
  cursor: pointer;
}

/*! page 2 styles */
.backAndDosya{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 0.5rem;
}

.backAndDosya:hover{
  background-color:  #21222d;
}

.backAndDosya h5{
font-style: normal;
font-weight: 600;
font-size: 13px;
line-height: 16px;
color: #FFFFFF;
}

.backIcon{
  margin-top: 5px;
}

