.mainTopDown {
  background: #171821;
  border: 0.5px solid rgba(255, 255, 255, 0.12);
  box-shadow: 0px 30px 60px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(100px);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;

  display: flex;
  padding: 15px;
  margin: 15px;
}

/* metin div*/
.metin {
  display: flex;
  color: #66d4cf;
  padding-right:50px;  

}

.metinText {
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  /* border-bottom: 2px solid #66d4cf; */
}

.metinIcon{
  padding-right:12px;

}

/* gecmis div */
.gecmis {
  display: flex;
  align-items: center;
  justify-content: baseline;
}

.gecmisIcon{
  padding-right:12px;

}

.gecmisText{
  margin-top: -4px;
}