.dropdowns {
  padding: 5px 0;
}

label {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0;
}

.dropToggle {
  background-color: #2b2b36;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 8px;
  gap: 120px;
  height: 36px;
  color: #a0a0a0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  border: none;
}

.dropMenu {
  width: 210px;
  border-radius: 10px;
  background-color: linear-gradient(
      0deg,
      rgba(33, 34, 45, 0.4),
      rgba(33, 34, 45, 0.4)
    ),
    linear-gradient(0deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
}
.spanDesc {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  align-items: center;
  color: #ffffff;
  margin-left: 1rem;
}
