.dropdowns {
  padding: 5px 0;
}

label {
  display: block;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 10px 0;
}

.dropToggle {
  background-color: #2b2b36;
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 8px;
  gap: 120px;
  height: 36px;
  color: #a0a0a0;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  border: none;
}

.option {
  color: red;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #a0a0a0;
  flex: none;
  order: 0;
  flex-grow: 0;
}
